* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --text-primary: #4db69f;
    --text-secondary: blueviolet;
    --bg-primary: black;
    --bg-secondary: white;
}

body {
    background: black;
}

body::-webkit-scrollbar {
    width: 0.20rem;
}

body::-webkit-scrollbar-thumb {
    background: #cb65c5;
}

.main {
    margin-left: 80px;
    padding: 1rem;
}

h1 {
    color: #cb65c5;
    font-size: 2.5rem;
    text-align: center;
    font-family: sans-serif;
    margin-top: 200px;
}

span {
    display: inline-block;
    opacity: 0;
    transition: all 2s ease;
    transform: translateY(50px);
}

span.fade {
    opacity: 1;
    transform: translateY(0px);
}

p {
    color: #4db69f;
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
}

.contacts {
    color: #cb65c5;
    font-size: 40px;
    padding: 2rem;
    float: right;
}

.socials>* {
    box-shadow: 0px 0px 9px 0px #cb65c5;
    padding: 12px;
    background-color: #4db69f;
    border-radius: 50%;
    place-content: center;
    display: grid;
    height: 70px;
    margin: 20px;
    width: 70px;
}

.plus {
    box-shadow: 0px 0px 9px 0px #4db69f;
    padding: 12px;
    background-color: #cb65c5;
    color: #4db69f;
    border-radius: 50%;
    place-content: center;
}