* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --text-primary: #4db69f;
    --text-secondary: blueviolet;
    --bg-primary: black;
    --bg-secondary: white;
}

body {
    background: black;
}

body::-webkit-scrollbar {
    width: 0.20rem;
}

body::-webkit-scrollbar-thumb {
    background: #cb65c5;
}

.container {
    display: flex;
    width: 100%;
}

.main {
    padding: 1rem;
    width: 100vw;
}

.main h1 {
    color: #cb65c5;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 180px;
    font-family: sans-serif;
}

.main span {
    display: inline-block;
    opacity: 0;
    transition: all 2s ease;
    transform: translateY(50px);
}

span.fade {
    opacity: 1;
    transform: translateY(0px);
}

.intro {
    color: #4db69f;
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
}


/**about me css*/

.about {
    width: 100%;
    display: flex;
    padding: 4rem;
    justify-content: space-around;
}

.skill {
    color: #cb65c5;
    font-size: 38px;
    padding: 12px;
    box-shadow: 2px 2px 10px 2px #cb65c5;
    border-radius: 50%;
    background-color: #4db69f;
    margin: 2px;
}

.info {
    text-align: left;
    margin-left: 80px;
}

#proj {
    position: absolute;
    bottom: 0;
    left: 45rem;
}

#proj button {
    padding: 12px 18px;
    border-radius: 30px;
    background: #cb65c5;
    color: #4db69f;
    font-size: 20px;
    border: 1px solid #cb65c5;
    margin: 10px;
    transition: all 250ms ease-in-out;
}

#proj button:hover {
    background: #4db69f;
    color: #cb65c5;
    cursor: pointer;
}

.me {
    display: block;
    margin-top: 40px;
}

.info h1 {
    color: #cb65c5;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    margin-left: 500px;
    padding-bottom: 50px;
}

.info p {
    color: white;
    font-size: 28px;
    line-height: 36px;
}

p span {
    line-height: 50px;
    background: rgb(77, 182, 159);
    background: linear-gradient(90deg, rgba(203, 101, 197, 1) 0%, rgba(4, 4, 4, 1) 75%, rgba(77, 182, 159, 1) 100%);
}

em {
    font-size: 32px;
    font-weight: 800;
}

.arrow i {
    font-size: 36px;
    color: #cb65c5;
    line-height: 60px;
}


/**projects css starts here*/

.first {
    margin-left: 9rem;
}

.header {
    text-align: center;
    background: rgb(77, 182, 159);
    background: linear-gradient(90deg, rgba(77, 182, 159, 1) 0%, rgba(4, 4, 4, 1) 75%, rgba(203, 101, 197, 1) 100%);
}

.header h1 {
    color: #4db69f;
    font-size: 2.5rem;
    text-align: center;
}

.header p {
    margin-top: 25px;
    color: white;
    font-size: 22px;
    padding-bottom: 40px;
}

.bcg {
    margin-top: 20px;
    min-height: 350px;
    margin-left: 30px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.letuce {
    background-image: url("images/Screenshot\ from\ 2021-12-03\ 17-14-32.png ");
}

.pet {
    background-image: url("images/Screenshot\ from\ 2021-12-03\ 17-07-31.png");
}

.serviser {
    background-image: url("images/Screenshot\ from\ 2021-12-05\ 12-57-51.png");
}

.textile {
    background-image: url("images/Screenshot\ from\ 2021-12-03\ 17-17-14.png");
}

.box {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.1);
}

#edit {
    text-align: center;
    letter-spacing: 1px;
    padding-top: 120px;
}

.box h3 {
    color: #cb65c5;
    font-size: 36px;
    font-weight: 900;
}

.box p {
    color: white;
    font-size: 28px;
}

#web {
    font-size: 38px;
    margin-top: 40px;
}

.git {
    color: rgb(211, 35, 211);
}

#site {
    padding: 12px 20px;
    border: 1px solid #cb65c5;
    border-radius: 30px;
    background-color: #cb65c5;
    color: white;
    transition: all 250ms ease-in-out;
}

#site:hover {
    background-color: #4db69f;
    border: #4db69f;
}