* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

h1 {
    color: #cb65c5;
    font-size: 2.5rem;
    text-align: center;
    font-family: sans-serif;
    margin-top: 200px;
}

span {
    display: inline-block;
    opacity: 0;
    transition: all 2s ease;
    transform: translateY(50px);
}

span.fade {
    opacity: 1;
    transform: translateY(0px);
}

p {
    color: #4db69f;
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
}

.contacts {
    color: #cb65c5;
    font-size: 40px;
    padding: 2rem;
    position: fixed;
}

.socials>* {
    box-shadow: 0px 0px 9px 0px #cb65c5;
    padding: 12px;
    background-color: #4db69f;
    border-radius: 50%;
    place-content: center;
    display: grid;
    position: absolute;
}

.icon {
    width: var(--size);
    height: var(--size);
    right: calc(0.85 * var(--size));
    bottom: calc(0.35 * var(--size));
    opacity: 0;
    transform: rotate(calc(-1 * var(--angle))) translateY(calc(-1 * var(--radius) * var(--factor))) rotate(var(--angle));
}

.plus {
    box-shadow: 0px 0px 9px 0px #4db69f;
    padding: 12px;
    background-color: #cb65c5;
    color: #4db69f;
    border-radius: 50%;
    place-content: center;
    bottom: 0;
    left: 0;
}